.sidebar{
    margin-top: 51px;
}
.form-check{
    padding: 0px;
    margin: 0px;
}
#searchText{
    float: right;
}
.footer {
    text-align: center;
}
/*#feedback{*/
/*    height: 200px;*/
/*    text-align: center;*/
/*    height: 160px;*/
/*    border: 1px solid silver;*/
/*    border-radius: 3px;*/
/*}*/
#feedback img{
    border:1px solid black;
    width:200px;
    height:200px;
    margin-bottom: 20px;
    margin-right: 690px;
    margin-top: 20px;
    /*margin:3px 10px;*/
    /*border: 1px solid silver;*/
    /*border-radius:3px;*/
    /*padding: 6px;*/
    /*width: 35%;*/
    /*height: 85%;*/
}
#feedback p{
    line-height: 120px;
    color: #ccc;
}
.file {
    position: relative;
    display: inline-block;
    border: 1px solid #1ab294;
    border-radius: 4px;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    color: #1ab294;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
/*.box{*/
/*    margin-top: 10px;*/
/*    text-align: center;*/
/*}*/
.box a{
    margin-left: 50px;
 }

.box label{
    display: block;
}